<style>
/* add image free router - edited by charles simanjuntak*/
.img-router{
top:-20%!important;
width:40%!important;
float:left!important;
position:absolute!important;
margin-left:65%!important;
}
@media (max-width: 580px){
.img-router{
top:-15%!important;
width:40%!important;
float:left!important;
position:absolute!important;
margin-left:68%!important;
}
/* add image free router - edited by charles simanjuntak*/
.boost-b{
padding:40px 0!important;
}
.card.card--package{
margin-bottom:40px!important;
}
}

.special {
    display: none;
}
.card__tag {
    display: none;
}
.container.jumbotron__distract.tvkabel .jumbotron__content {
	display: none;
}
iframe#gamer-trl {
	box-shadow: 0 3px 5px #0008 !important;
	margin: 0 auto !important;
	display: block;
	background: #ffffff;
	padding: 20px;
        width: 1000px;
height: calc(1000px * 0.56);
}
@media screen and (max-width: 1080px) and (min-width: 1500px) {
	iframe#gamer-trl {
		width: 1000px;
		height: calc(1000px * 0.56);
	}
}
@media screen and (max-width: 579px) and (min-width: 320px) {
	iframe#gamer-trl {
		width: 85vw;
		height: calc(85vw * 0.56);
	}
}
</style>
